*{
    margin: 0;
    padding: 0;
}
 
@import "variables";
@import "mixing";



.btn{
    background-color: rgb(0, 145, 255);
    color: white;
}

.titulo{
    font-size: $TamanioTitulo;
    font-family: Brush Script MT;
    color: $colorDeLetras;
}

.subtitulo{
    font-size: $TamanioTitulo;
    font-family: Brush Script MT;
    color: $colorDeLetras;
}

.nosotros{
    background-color: beige;
}



.nosotros {
   background-color: #FBAB7E;
}
  
  h2{
    color: brown;
  }
  
  .gradiente{
      background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    }

    .fondoform {
        background-image: url(/assets/img/fonfopan2.jpg); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .direccion {
        color: brown;
       } 

   

 
 
 @each $key , $var in $coloresbtn {
    .btn-#{key}{
        background-color: $var;
    }
 }



    

    
 
    
    
   
    
   

   